### Librerias Importantes
Instalaci칩n

Para instalar ipython-sql, puedes usar pip:

pip install ipython-sql

Adem치s, necesitar치s instalar un controlador de base de datos (DBAPI) para conectarte a tu base de datos. Por ejemplo, si usas PostgreSQL, necesitar치s psycopg2:

In [ ]:
pip install psycopg2

O si usas SQLite:

In [ ]:
pip install sqlite3

In [4]:
import sqlite3

In [5]:
# Connect to a SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS users
                  (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

# Insert data into the table
cursor.execute("INSERT INTO users (name, age) VALUES ('Alice', 30)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Bob', 25)")

# Commit the changes
conn.commit()

# Query the data
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the connection
conn.close()

(1, 'Alice', 30)
(2, 'Bob', 25)

In [8]:
rows

[(1, 'Alice', 30), (2, 'Bob', 25)]

In [9]:
import pandas as pd

# Lista de tuplas
data = rows

# Convertir a DataFrame
df = pd.DataFrame(data, columns=['ID', 'Name', 'Age'])

# Mostrar el DataFrame
print(df)

   ID   Name  Age
0   1  Alice   30
1   2    Bob   25